.works {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--no-padding-top {
  padding-top: 0;
}

.works-list {
  display: flex;
}

.works-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works-list__text {
  position: absolute;
  @include centeredFlex();
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
}
