.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  @include font(24px, 700, 1.17);
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    @include font(26px, 700, 1.19);
  }
}

.header__logo {
  color: var(--header-text-color);
}

.logo__footer {
  color: var(--primary-white-color);
}
